.Influencers {
    width: 100%;

    &_header {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
    }

    &_main {
        height: 100%;
        text-align: center;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;

        &_box {

            &_image {
                border-radius: 10px;
                overflow: hidden;
            }

            &_pBox {
                margin: 10px 0;
                // width: 70%;
            }
        }
    }
}

.allMargin {
    margin-top: 20px;
}

.FeaturesRow {
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.FeaturesRow_items {
    width: 400px;
    display: inline-block;
    white-space: normal;
    overflow: hidden;
}