.VideosProcessed {
    width: 100%;
    display: flex;
    flex-direction: column;

    &_header {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
    }

    &_content {
        width: 100%;

        &_row {
            margin: 20px 0;

            &_span {
                font-size: 20px;
                font-weight: 600;

            }
        }
    }

}