.Productstable {
    display: flex;
    align-items: center;

    &_items {
        text-align: center;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;


        &_box {
            display: flex;
            flex-direction: column;
            width: 200px;
            display: inline-block;
            white-space: normal;
            overflow: hidden;
            margin: 0 1px;

            &_image {
                width: 200px;
                border-radius: 15px;
                height: 125px;
                padding: 10px;
                box-sizing: border-box;
            }

            &_name {
                height: 67px;
                font-size: 18px;
                background-color: rgb(237, 237, 237);
                font-weight: 600;
                display: flex;
                align-items: center;

            }

            &_Price {
                background-color: rgb(237, 237, 237);
                text-align: start;
                height: 30px;
                width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &_Features {
                background-color: rgb(255, 255, 255);
                height: 70px;
                text-align: start;
                vertical-align: middle;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                /* 限制在3行 */
                overflow: hidden;
                width: 200px;
                /* 定义容器宽度 */
            }

            &_Performance {
                height: 63px;
                background-color: rgb(237, 237, 237);
                vertical-align: middle;
                text-align: start;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                /* 限制在3行 */
                overflow: hidden;
                width: 200px;
                /* 定义容器宽度 */
            }
        }
    }
}