.swiper-button-prev {
  position: absolute;
  top: 45%;
  height: 50px;
  cursor: pointer;
  left: 20px;
  width: 30px;
}

.swiper-button-next {
  position: absolute;
  top: 45%;
  height: 50px;
  cursor: pointer;
  right: 20px;
  width: 30px;
}

.swiper-wrapper {
  display: flex;
}

// .introduce-trends {
//   overflow: hidden;
//   margin-top: 200px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .introduce-trends .main {
//   text-align: center;
//   position: relative;
// }

// .introduce-trends .main .p1 {
//   color: #2e2d2d;
//   font-size: 38px;
//   display: inline-block;
//   margin-top: 30px;
//   font-weight: bold;
//   background: url('@/assets/images/draw/piece-title.png') no-repeat center bottom;
//   background-size: 100%;
// }

// .introduce-trends .evaluate-ul {
//   position: relative;
// }

// .introduce-trends .main ul {
//   margin-top: 50px;
//   // overflow: hidden;
//   padding: 20px;
// }

// .introduce-trends .main li {
//   padding: 30px;
//   height: 200px;
//   width: 450px;
//   background: white;
//   float: left;
//   margin-left: 20px;
//   border-radius: 10px;
//   text-align: left;
//   cursor: pointer;
//   box-shadow: 10px 10px 10px #f6f8ff, -10px -10px 10px #f6f8ff;
// }

// .introduce-trends .main li .p2 {
//   font-size: 28px;
// }

// .introduce-trends .main li .p3 {
//   font-size: 16px;
//   color: #858a9d;
// }

// .introduce-trends .main li .info {
//   margin: 20px 0 20px 0;
//   color: #858a9d;
// }

// .introduce-trends .main li .info img {
//   height: 20px;
//   vertical-align: middle;
// }

// .introduce-trends .main li .info .time-icon,
// .introduce-trends .main li .info .see-icon {
//   margin-left: 15px;
// }

// .introduce-trends .prev {
//   position: absolute;
//   top: 55%;
//   height: 50px;
//   cursor: pointer;
//   left: 50px;
// }

// .introduce-trends .next {
//   position: absolute;
//   top: 55%;
//   height: 50px;
//   cursor: pointer;
//   right: 50px;
// }