.Features {
    width: 100%;

    &_header {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
    }

    &_main {
        height: 100%;

        &_box {
            // display: flex;
            // flex-direction: column;
            // align-items: center;

            &_image {
                border-radius: 10px;
                overflow: hidden;
            }

            &_pBox {
                margin: 10px 0;
                // width: 70%;
                &_span1{
                    font-weight: 500;
                }
            }
        }
    }
}

.allMargin {
    margin-top: 20px;
}

.FeaturesRow {
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* Keep this to ensure the horizontal scroll */
}

.FeaturesRow_items {
    width: 400px;
    display: inline-block;
    white-space: normal;
    /* Allow text to wrap within each item */
    overflow: hidden;
    /* Prevent text from spilling out of the box */
}