.Criteria {
    width: 100%;

    &_header {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
    }

    &_main {
        span {
            font-size: 15px;
            font-weight: 600;
        }
    }
}

.allMargin {
    margin-top: 20px;
}